<div class="inner-bg">
	<div class="container">
		<div class="row">
			<div class="col-sm-5" style="float: none; margin: 0 auto;">
				<div class="form-box">
					<div class="form-top">
						<div class="form-top-left">
							<h3>Assemble Team</h3>

							<select id="playersSelect" ng-options="player as player.playerName for player in cardPlayers" ng-model="player" ng-change="selectedPlayer(player)" ng-disabled="isDisabled">
									<option value="">-- choose a player --</option>



					</div>
				</div>
			</div>
		</div>
	</div>
</div>