<div class="inner-bg">
	<div class="container">
		<div class="row">
			<div class="col-sm-5" style="float: none; margin: 0 auto;">
				<div class="form-box">
					<div class="form-top">
						<div class="form-top-left">
							<h1>{{gameName}}</h1>
							<h3>Assemble Team</h3>
							<h4 class="text-danger" ng-show="alertDisplayed">{{message}}</h4>
						</div>
						<div class="form-top-right">
							<i class="glyphicon glyphicon-copy"></i>
						</div>
						
					</div>
					<div class="form-bottom">
						<form role="form" ng-submit="save()" method="post" class="addGame-form">
							<div class="form-group">
								<add-players-directive action="save()"></add-players-directive>
							</div>
							<div>
								<delete-players-directive 
									defaultSelectOption="{{defaultSelectOption}}"
									instruction = "{{instruction}}">
								</delete-players-directive>	
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>