<div class="inner-bg">
    <div class="container">
        <div class="col-sm-5" style="float: none; margin: 0 auto;">
            <div class="form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>Register</h3>
                        <p>Register to track game history:</p>
                        <h4 class="text-danger" ng-show="alertDisplayed">{{message}}</h4>
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-pencil"></i>
                    </div>
                </div>
                <div class="form-bottom">
                    <form role="form" ng-submit="register()" method="post" class="registration-form">
                        <div class="form-group">
                            <!-- <label class="sr-only" for="form-first-name">Email</label> -->
                            <input type="text" name="form-first-name" placeholder="Email..." class="form-first-name form-control" id="form-first-name" ng-model="registerData.email">
                        </div>
                        <div class="form-group">
                            <!-- <label class="sr-only" for="form-last-name">Verify Email</label> -->
                            <input type="text" name="form-last-name" placeholder="Verify Email..." class="form-last-name form-control" id="form-last-name"  ng-model="registerData.vemail">
                        </div>
                        <div class="form-group">
                            <!-- <label class="sr-only" for="form-email">Password</label> -->
                            <input type="password" name="form-email" placeholder="Pasword..." class="form-email form-control" id="form-email"  ng-model="registerData.pwd">
                        </div>
                        <div class="form-group">
                            <!-- <label class="sr-only" for="form-email">Verify Password</label> -->
                            <input type="password" name="form-email" placeholder="Verify Pasword..." class="form-email form-control" id="form-email"  ng-model="registerData.vpwd">
                        </div>
                        <button type="submit" class="btn">Register</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
